
.language-navigation {
    grid-area: language-navigation;
}

/* header */

.language-navigation.header > nav {
    position: fixed;
    top: 38px;
    z-index: 999;
    width: 360px;
    right: 0;
    display: none;
}

.language-navigation.header > a {
    padding: 0 var(--gutter-padding) 0 35px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 0px;
    background-position-y: -1px;
}

.language-navigation.header > a::after {
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.45em;
    position: relative;
    top: 0.35em;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.45em;
}

.language-navigation.header > a.open::after {
    top: 0.65em;
    transform: rotate(-45deg);
}

.language-navigation.header > a.countrycode-ca { background-image: url('../../icons/flag-ca.svg') }
.language-navigation.header > a.countrycode-ch { background-image: url('../../icons/flag-ch.svg') }
.language-navigation.header > a.countrycode-de { background-image: url('../../icons/flag-de.svg') }
.language-navigation.header > a.countrycode-es { background-image: url('../../icons/flag-es.svg') }
.language-navigation.header > a.countrycode-fr { background-image: url('../../icons/flag-fr.svg') }
.language-navigation.header > a.countrycode-it { background-image: url('../../icons/flag-it.svg') }
.language-navigation.header > a.countrycode-us { background-image: url('../../icons/flag-us.svg') }