header > .header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--background-color);
}

.header a:any-link {
  color: currentcolor;
  font-size: inherit;
}

.header a:hover {
  text-decoration: none;
}

.header .utility-menu > div,
.header .navigation-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--gutter-padding);
}

/* utility menu */

.header .utility-menu {
  min-height: var(--utilities-nav-height);
  background-color: var(--background-color-inverse);
  color: var(--text-color-inverse);
  font-size: var(--body-font-size-s);
}

.header .utility-menu > div {
  display: grid;
  grid-template-areas: 'blank language-navigation';
  grid-template-columns: auto 166px;
}

.header .utility-menu a {
    text-transform: uppercase;
}

/* navigtation */

.header .navigation-container {
  display: grid;
  grid-template-areas: 'logo blank navigation search';
  grid-template-columns: 166px auto 368px 166px;
  gap: calc(var(--gutter-padding) * 2);
}

.header .navigation-container > div:nth-child(1) { grid-area: logo; padding: 0 var(--gutter-padding) }
.header .navigation-container > div:nth-child(2) { grid-area: navigation }
.header .navigation-container > div:nth-child(3) { grid-area: search }

/* navigation header */

.header .navigation-container.header {
  padding-top: 50px;
  padding-bottom: 50px;
  transition:  padding-bottom 0s ease-out, padding-top 0s;
}

@media screen and (max-width: 1024px) {
  .header .navigation-container.header {
    grid-template-areas: 'logo blank search';
    grid-template-columns: 166px auto 224px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header .navigation-container > div:nth-child(2) {
    display: none;
  }
}

.header.scrolly {
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.26);
}

.header.scrolly .navigation-container.header {
  transition:  padding-bottom 0.5s ease-out, padding-top 0.5s ease;
}

@media screen and (min-width: 1025px) {
  .header.scrolly .navigation-container.header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
