.navigation-container>div:first-child img {
    height: auto;
    max-width: 128px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.navigation {
    margin: 0;
    padding: 0;
}

.navigation nav {
    padding-top: 15px;
}

.navigation nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

.navigation nav>ul>li>p {
    display: none;
}

.navigation nav a:any-link {
    color: inherit;
    font-size: var(--body-font-size-s);
    text-transform: uppercase;
    padding: 15px 17px;
    text-decoration: none;
}

.navigation-container.header p {
    margin: 0;
    line-height: 1em;
}

.navigation.header nav a.active,
.navigation.header nav a:hover,
.navigation.header nav a:focus {
    background-color: var(--brand-primary);
}

.navigation.header nav ul {
    justify-content: right;
}

