.footer {
  margin-top: 3rem;
  padding: 1rem 0 1.5rem;
  background-color: var(--background-color-inverse);
  color: var(--text-color-inverse);
}

.footer .navigation-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--gutter-padding);
}

.footer p {
  font-size: var(--body-font-size-xs);
  line-height: 1.25;
}

.footer a {
  color: currentColor;
  text-decoration: underline;
  
}