.separator hr {
    margin: 4em 0;
    border: 1px solid var(--highlight-color);
}

.separator.hidden hr {
    border: none;
}

.separator.small hr {
    margin: 1em 0;
}

.separator.medium hr {
    margin: 2em 0;
}