/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* fallback font for Asar (normal - 400) */
@font-face {
  font-family: 'asar-fallback';
  font-weight: 400;
  size-adjust: 95.7%;
  src: local('Arial');
}

/* fallback font for Source Sans Pro (normal - 400) */
@font-face {
  font-family: 'source-sans-pro-fallback';
  font-weight: 400;
  size-adjust: 92.869%;
  src: local('Arial');
}

/* fallback font for Source Sans Pro (normal - 600) */
@font-face {
  font-family: "source-sans-pro-fallback";
  font-weight: 600;
  size-adjust: 95.639%;
  src: local("Arial");
}

:root {
  /* colors */
  --brand-primary: #ffea00;
  --brand-secondary: #202020;
  --brand-thrid: #ebebeb;
  --text-color: #202020;
  --text-color-secondary: #696969;
  --text-color-inverse: #ebebeb;
  --background-color: #fff;
  --background-color-secondary: #202020;
  --background-color-secondary-bright: #ebebeb;
  --background-color-inverse: #202020;
  --highlight-color: #ebebeb;
  --link-color: #0045ff;
  --link-hover-color: #0045ff;
  --nav-link-color: #202020;
  --nav-link-color--inverse: #ebebeb;

  /* fonts */
  --body-font-family: 'Source Sans Pro', 'source-sans-pro-fallback', 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: Asar, 'asar-fallback', Georgia, 'Times New Roman', Times, serif;

  /* body sizes */
  --line-height-base: 1.5;
  --font-size-base: 18px;
  --body-font-size-m: 18px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 40px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 10px;

  /* layout */
  --nav-height: 200px;
  --utilities-nav-height: 25px;
  --gutter-padding: 14px;
  --max-width: 1164px;
  --max-body-width: 1680px;
  --screen-xsmall: 475px;
  --screen-small: 768px;
  --screen-medium: 1024px;
  --screen-large: 1200px;
}

@media screen and (max-width: 1024px) {
  :root {
    --nav-height: 130px;
  }
}

body {
  background-color: var(--background-color);
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size-m);
  text-align: left;
  color: var(--text-color);
  line-height: var(--line-height-base);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: calc(var(--nav-height));
}

main,
footer {
  max-width: var(--max-body-width);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: var(--line-height-base);
  margin-top: calc(var(--line-height-base) * var(--font-size-base));
  margin-bottom: calc(var(--line-height-base) * var(--font-size-base) / 2);
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p {
  margin: 0 0 calc(var(--line-height-base) * var(--font-size-base) / 2);
  padding: 0;
  font-size: var(--font-size-base);
  line-height: calc(var(--line-height-base) + 1);
  text-align: justify;
}

dl,
ol,
ul,
pre,
blockquote {
  margin: 0;
  padding: 0;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

.button-container {
  line-height: 1em;
}

a.button:any-link,
button {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  font-weight: 600;
  line-height: var(--line-height-base);
  color: var(--text-color);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--brand-primary);
  padding: 1em 2em;
  height: 48px;
  min-width: 48px;
}

a.button.secondary,
button.secondary {
  background-color: var(--background-color-inverse);
  color: var(--text-color-inverse)
}

/* inputs */

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

/* default content */

main img {
  max-width: 100%;
  width: auto;
}

main .default-content-wrapper h2::after {
  content: "";
  display: block;
  width: 84px;
  padding-top: 8px;
  border-bottom: 2px solid var(--brand-primary);
}

/* section */

main .section {
  padding: 0 var(--gutter-padding);
}

/* progressive section appearance */

main .section[data-section-status='loading'],
main .section[data-section-status='initialized'],
.block[data-block-status='loading'],
.block[data-block-status='initialized'] {
  display: none;
}

@media screen and (min-width: 1025px) {
  main .section.fixed-width>div {
    max-width: calc(var(--max-width) - (var(--gutter-padding) * 2));
    margin: 0 auto;
  }
}

/* grid */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: calc(2 * var(--gutter-padding));
}

.grid-wrapper .width-default-4 { grid-column: span 4; }

@media screen and (max-width: 767px) {
  .grid-wrapper .width-phone-12 { grid-column: span 12; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-wrapper .width-table-6 { grid-column: span 6; }
}